# IDE - Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IDE - IntelliJ IDEA
.idea/
*.iml

# IDE - Neatbeans
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Compiled output
dist/
tmp/
out-tsc/
target/

# Dependencies
node_modules/

# Misc
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/
!.mvn/wrapper/maven-wrapper.jar

# System Files
.DS_Store
Thumbs.db