<div class="inner-container">
  <article>
    <h1>{{post?.title}}</h1>
    <p>{{post?.content}}</p>
    <footer><p>submitted <app-human-readable-date [date]="post?.postedAt"></app-human-readable-date> by <a href="">{{post?.author.username}}</a></p></footer>
    <h2>Comments ({{post?.comments.length}})</h2>
    <app-comment-list [comments]="post?.comments" *ngIf="post != null"></app-comment-list>
    <p *ngIf="post?.comments.length === 0"><em>Be the first to comment on this post!</em></p>
  </article>
</div>
