.inner-container {
  background: #FFF;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

article {
  padding: 20px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

article > p {
  color: #031424;
  font-size: 16px;
  font-weight: 300;
}

article > h1 {
  font-weight: 600;
  font-size: 18px;
  margin: 2px 0 5px;
  color: #031424;
}

article > h2 {
  font-weight: 600;
  color: #031424;
  font-size: 16px;
  margin: 40px 0 5px;
}

article footer {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

article footer a {
  text-decoration: none;
  color: #CF6766;
  font-weight: 400;
}

article footer p {
  margin: 0;
}
